extends template 
block styles
            link(rel="stylesheet" href="/styles/Style.css" type="text/css")
            link(rel="stylesheet" href="/styles/p_style.css" type="text/css")
            link(rel="stylesheet" href="/styles/admin.css" type="text/css")

block content
    div.content 
        h1 Upload Products
        div#information 
            div 
                img#example(src="../../images/example-json.jpg" alt="example picture")
            div 
                form#sub(action="/admin/upload" method="POST" enctype="multipart/form-data") 
                    label(for="myFile") Enter Product JSON File 
                    input#myFile(type="file" name="myFile" accept="application/json")
                    button#submit-file(type="submit") Submit File
                p
                    | The file you are uploading should be that of json.
                    br
                    | Within the file, the contents and attributes should look like this.

        div#new-products
            if(products)
                each product in products
                    div.flex-item 
                        img.product-image(src=product.imageURL  alt="product picture")
                        div.pinfo 
                            h3 #{product.pName} 
                            p Price: $#{product.price}