extends partials/layout

block content 
    section
        h1 WELCOME TO C’S HAIR STORE !!!!
        p#big Where you can find ALL of your beauty needs.

    section 
        div#flex-container
            div.flex-item 
                h3 Products 
                p 
                    | Come view our Products tab! 
                    br
                    | We Sale:
                    br

                ul 
                    li The top trending hair grease and oil 
                    li various hair dyes 
                    li Any accesssory you can name 
                    li Combs, Hair picks 
                p#big 
                    | Anything you want? 
                    br
                    | WE GOT IT !!!
            div.flex-item 
                h3 Bookings
                p 
                    | Once you found whatever you are looking for you can also check our bookings page!
                    br
                    | Here you can make an appointment to get an available style done.
                    br
                    | WASH INCLUDED !!!! (rare these days right?)
                p Here are some of our popular styles:
                ul 
                    li Quick Weave 
                    li Two Strand Twist 
                    li Knotless Braids 

            div.flex-item 
                h3 Account Features
                p Price Comparisons

                