body {
    background-color: grey;
    color: black;
}
h1, h3{
    color: black;
    text-align: left;
}

h2{
    color: black;
    margin-left: 0px;
}

body button:hover{
    cursor: pointer;
}

.nav {
    display: flex;
    background-color: black;
    color: white;
    overflow: hidden;
    align-items: center;
    padding: 0;
}

.nav .links {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 25px;
    margin-left: 25px;

}

.nav a:hover {
    background-color: #414141;
    color: white;
}

.nav .images a {
    margin-right: 0;
    margin-left: 0;
    padding: 0 0;
}

.nav .images a:hover {
    background-color: transparent;
    color: inherit;
}

.nav img {
    float: left;
    width: 100px;
    height: 70px;
    margin-left: 0;
    padding-left: 0;
}

.nav #cart {
    height: 40px;
    width: 40px;
    padding: 0px 0px;
    padding-right: 25px;
}

.nav #logo {
    padding: 0px 0px;
    margin: 0px;
}

.nav button {
   
}

.nav .button a {
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    border-radius: 4px;
    font-size: 14px;
}

#search-bar {
    height: 25px; 
    width: auto;
    padding: 8px; /* Adjust padding for better appearance */
    font-size: 16px; /* Optional, to align text size */
}

#search-btn {
    height: 40px; /* Match the height of the input box */
    padding: 8px; /* Align padding with input box */
    font-size: 16px; /* Optional, to match input text */
    margin-left: 2px; /* Add some spacing between the input box and button */
    border: none; /* Optional, removes default button border */
    cursor: pointer; /* Adds pointer effect */
    background-color: grey; /* Optional, makes the button visually distinct */
    color: white; 
    border-radius: 4px; 
}



#information {
    display: flex;
    flex-direction: row;
}

header img {
    height: 500px;
    width: auto;
}

.enlarge {
    height: 800px;
    width: 800px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 100%; */

    /* background-color: black; */
}

.listing-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;

    /* background-color: brown; */
}

.listing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 20%;
    min-height: 330px;
    height: fit-content;
    margin: 10px;
    background-color: white;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    /* background-color: chartreuse; */
}

.header img {
    height: 150px;
    /* width: 100px; */
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* width: fit-content;
    height: fit-content; */
    gap: 10px;

    /* background-color: blueviolet; */
}

.info p {
    margin: 0px;
    padding: 0px;

    /* background-color: blue; */
}

.adminBtn {
    margin: 10px;
    /* background-color: #4CAF50; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* gap: 5px; */
}

.action{
    display: flex;
    flex-direction: row;
    color: white;

    margin:5px;
    gap: 5px;
}

.action button{
    border-radius: 10px;
}

.editBtn{
    background-color: yellow;
    width: fit-content;
}

.deleteBtn{
    background-color: red;
}

#example{
    margin-right: 30px;
    height: 200px;
}

#sub{
    color: black;
}

#preview{
    display: flex;
    flex-direction: row;

}

#img-preview{
    height: 300px;
    margin-right: 15px;
}

#therest{
    display: flex;
    flex-direction: column;
}

#id{
    width: 10px
}

#change{
    margin-left: auto;
    margin-right: auto;
}

#update-form{
    display: flex;
    flex-direction: column;
}

.new-item img{
    height: 100px;
}

#new-products{
    display: flex;
    flex-direction: row;
}

#form-buttons{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#hidden{
    display: none;
}