h2, h3{
    color: black;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
}
.cart-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: white;
    width: 40%;
    
}

.cart-item{
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-bottom: 30px;
}

.cart-container img{
    width: 100px;
    height: 100px;
    margin-right: 5px;
}

label{
    color: black;
}
.quant{
    
}
.quant p{
    margin-bottom: 5px;
}
.cart-item input{
    width: 20px;
    height: 20px;
}

#checkout{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
button:hover {
    background-color: #fed4f6;
}

#chkBtn{

}